---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/channels.list?exclude_archived=1&pretty=1&token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - channels:read,read
      X-Oauth-Scopes:
      - identify,read,post,client,apps
      X-Slack-Backend:
      - h
      X-Slack-Req-Id:
      - b8eaf761-6fd4-4722-a411-0c891d016fc3
    body:
      encoding: UTF-8
      string: |
        {
            "ok": true,
            "channels": [
                {
                    "id": "C14UN1PV3",
                    "name": "bravo-test-channel",
                    "is_channel": true,
                    "created": 1461948067,
                    "creator": "U14K14WFQ",
                    "is_archived": false,
                    "is_general": false,
                    "is_member": true,
                    "members": [
                        "U14K14WFQ"
                    ],
                    "topic": {
                        "value": "",
                        "creator": "",
                        "last_set": 0
                    },
                    "purpose": {
                        "value": "Another fake channel for memoization tests.",
                        "creator": "U14K14WFQ",
                        "last_set": 1461948067
                    },
                    "num_members": 1
                }
            ]
        }
  recorded_at: Tue, 01 Nov 2016 21:28:40 GMT
