<h1>Ada Channels</h1>

<h2>Click on a link to send a chat to the specified channel.</h2>
<section class="row">
  <% @channels.each do |channel| %>
    <p class="large-4 small-12 columns">
      <%= link_to channel.name, channel_path(channel.id) %>
    </p>
  <% end %>
</section>
